/* CUSTOM CSS */

/* :root {
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --border: #666;
    --accent: red;
    --accent-light: #ffecb3;
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
  } */

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav a {
  margin: 0;
}

.nav__logo {
  margin: 0;
  border: none;
}